<div class="contentcommon">
  <%= form_with(model: @myword, local: true, url: choose_new_or_edit) do |form| %>
    <% if @myword.errors.any? %>
      <div id="error_explanation">
        <h2><%= @myword.errors.count %>件のエラーがあります。</h2>
        <ul>
        <% @myword.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="formcontent">
      <table>
        <tr>
          <td>
            <%= form.label :content %>
            <%= form.text_field :content %>
          </td>
          <td>
            <%= form.submit "Tweets!"%>
          </td>
        </tr>
      </table>
      <%= link_to "一覧画面にもどる", mywords_path %>
    </div>
  <% end %>
</div>
