<div class="maintop">
<h2>Tweets List</h2>
<p><%= notice %></p>
<table class="toptable">
  <tr>
    <th><h4>Content</h4></th>
  </tr>
<% @mywords.each do |myword| %>
  <tr>
    <td><%= myword.content %></td>
    <td><%= link_to 'Check', myword_path(myword.id) %></td>
    <td><%= link_to "Edit", edit_myword_path(myword.id) %></td>
    <td><%= link_to 'Delete', myword_path(myword.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %>
  </tr>
<% end %>
</table>

</div>
